<div class='terms-of-service'>
	<div class='terms-of-service__container'>
		<div id='close-overlay--terms' class='close-overlay'>x</div>
		<br/>
		<div class='terms-of-service__header'>By using Poshibly, you automatically agree with these terms.</div>
		<br/>
		<ol>
			<li>
				<b>No Warranties</b>. The Poshibly extension tool is provided 'as is', with all faults, and Poshibly expresses no representations or warranties, of any kind related to the Poshibly extension tool or the materials contained on the Poshibly extension tool.
			</li>
			<li>
				<b>No Guarantee</b>. Poshibly does not guarantee increased Poshmark sales through use of the extension tool. There is no guarantee of bug-free or error-free behavior. Yes, it is a bot, but it is built by humans. The Poshibly team does its best to prevent this type of behavior and fix it as quickly as possible if this behavior is observed.
			</li>
			<li>
				<b>No Liability</b>. Poshibly is not responsible for your actions and use on Poshmark. If Poshmark takes action against you, i.e. account freezes or banning, Poshibly or any of its owners and employees are not liable for any damages or repayment. By using the Poshibly extension tool, you are accepting it 'as is' and using it at your own risk.
			</li>
			<li>
				In no event shall Poshibly, nor any of its owners and employees, be held liable for anything arising out of or in any way connected with your use of the Poshibly extension tool whether such liability is under contract.  Poshibly, including its owners and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of the Poshibly extension tool.
			</li>
			<li>
				You hereby indemnify to the fullest extent Poshibly from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms or related to your breach of any of the provisions in Poshmark terms of service and guidelines.
			</li>
			<li>
				Poshibly is independently owned and operated, and is not affiliated in any way with Poshmark or other third parties.
			</li>
			<li>
				You agree for Poshibly to have free use of any public comments made by you about Poshibly.
			</li>
			<li>
				Poshibly is permitted to revise these Terms at any time as it sees fit. You are expected to review these Terms to check for changes.
			</li>
			<li>
				Poshibly owns all the intellectual property rights and materials contained in this website and the Poshibly extension tool listed in the Chrome Web Store.
			</li>
			<li>
				Poshibly reserves the right to modify, suspend or withdraw the whole or any part of our or any of its content at any time without notice and without incurring any liability.
			</li>
		</ol>
	</div>
</div>