* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Poiret One', cursive;
  /*background-color: #D8EDF3;*/
  background: linear-gradient(to bottom, #0B2C2F 0%, #DCAEBF 100%); }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: transparent;
  border-bottom: 3px solid #0B2C2F; }

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 26px; }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%; }
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px; }
  .nav-links li {
    list-style: none; }

.burger {
  display: none;
  z-index: 5; }
  .burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.4s ease; }

.mobile-nav {
  display: none; }

@media screen and (max-width: 992px) {
  .nav-links {
    width: 60%; } }

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    height: 55px;
    transition: position 0.4s; }
    nav div {
      margin: 0 10px; }
  .nav-links {
    display: none; }
  .mobile-nav {
    display: flex; }
    .mobile-nav__links {
      display: flex;
      flex-direction: column;
      /*justify-content: space-around;*/
      align-items: center;
      position: absolute;
      right: 0px;
      top: 55px;
      height: 100px;
      width: 100px;
      text-align: center;
      background-color: white;
      border-left: 3px solid #0B2C2F;
      border-radius: 50%;
      transform: translateX(100%);
      transition: all 0.4s ease; }
      .mobile-nav__links a {
        color: #0B2C2F;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 20px; }
      .mobile-nav__links li {
        list-style: none;
        padding-bottom: 50px; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .mobile-nav__links {
        width: 30%; }
        .mobile-nav__links li {
          padding-bottom: 40px; } }

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer; }
    .burger div {
      background-color: white; } }

.nav-links-active {
  transform: translateX(0%);
  padding: 125px 100px 0 0;
  height: 550px;
  width: 550px;
  top: -50px;
  right: -225px; }
  @media (orientation: landscape) {
    .nav-links-active {
      height: 550px;
      width: 550px;
      padding: 100px 100px 0 0; } }

.toggle .line1 {
  height: 3px;
  background-color: #17575D;
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  height: 3px;
  background-color: #17575D;
  transform: rotate(45deg) translate(-5px, -6px); }

.about {
  width: 100%;
  font-size: 30px;
  color: white;
  padding: 30px 70px; }
  @media screen and (max-width: 768px) {
    .about {
      font-size: 20px;
      padding: 10px 30px; } }

.about-header {
  width: 100%;
  font-size: 34px;
  color: white;
  padding: 30px 70px 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .about-header {
      font-size: 24px;
      padding: 15px 70px; } }
