* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  font-family: 'Poiret One', serif;
  /*background-color: #FDFDFD;*/
  /*background: linear-gradient(to bottom, #0B2C2F 0%, white 100%)*/ }

.main-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  width: 100%; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #17575D;
  /*border-bottom: 3px solid #0B2C2F;*/
  top: 0;
  width: 90%;
  position: fixed;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    nav {
      width: 100%; } }

.about {
  width: 90%;
  color: #17575D;
  background-color: #FDFDFD;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /*background: linear-gradient(to top, white 0%, $mainFontColor 100%);*/ }
  .about__header {
    width: 100%;
    font-size: 44px;
    color: #17575D;
    font-weight: 500;
    padding: 65px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .about__header {
        font-size: 30px;
        margin: 20px auto;
        padding: 35px 10px; } }

.call-to-action {
  width: 75%;
  margin: 0 auto;
  font-size: 26px; }
  .call-to-action .more-below-caret {
    display: flex;
    justify-content: center; }
    .call-to-action .more-below-caret__elm {
      width: 20px;
      height: 20px;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
      cursor: pointer; }
  .call-to-action .free-trial {
    margin: 20px 0 20px 0;
    font-size: 16px;
    text-align: center; }
  .call-to-action .get-it-now {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 200px;
    height: 45px;
    background-color: #17575D;
    color: white;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 1px 1px 2px lightgrey;
    border-radius: 12px; }

.nav-header__desktop {
  position: absolute; }

.card-container {
  display: flex;
  margin: 50px 0 25px 0; }
  @media screen and (max-width: 768px) {
    .card-container {
      margin: 25px 0 12.5px 0; } }
  .card-container .card-image img {
    width: auto;
    height: auto;
    /*border: 1px solid $mainFontColor;*/
    box-shadow: 1px 1px 2px lightgrey;
    border-radius: 5px;
    float: right;
    margin: 35px 30px; }
    @media screen and (max-width: 768px) {
      .card-container .card-image img {
        width: 100%;
        margin: 35px 0; } }
  @media screen and (max-width: 768px) {
    .card-container .card-image {
      order: 2; } }
  .card-container .card {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 50px auto;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .card-container .card h1 {
      text-align: center;
      margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .card-container .card {
        flex-direction: column;
        justify-content: none;
        margin: 40px auto 20px auto; } }
  .card-container .section {
    width: 100%;
    font-size: 16px;
    color: black;
    padding: 30px 70px;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    line-height: 1.5; }
    .card-container .section h1 {
      font-family: "Poiret One", serif; }
    @media screen and (max-width: 768px) {
      .card-container .section {
        font-size: 20px;
        padding: 10px; } }

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 18px; }
  .logo-main {
    color: #17575D;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 60px; }

.footer-get-it {
  display: none; }
  @media screen and (max-width: 992px) {
    .footer-get-it {
      display: block;
      width: 75px;
      height: 35px;
      border: 2px solid #17575D;
      text-align: center;
      background-color: transparent;
      position: fixed;
      float: right;
      bottom: 0;
      right: 0;
      margin: 10px;
      text-decoration: none;
      color: #17575D;
      font-size: medium; }
      .footer-get-it:focus {
        outline: none; } }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%; }
  .nav-links .nav-button {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px; }
  .nav-links li {
    list-style: none; }

.burger {
  display: none;
  z-index: 5;
  width: 100%;
  justify-content: flex-end;
  margin: 0; }
  .burger .lines {
    margin: 0;
    background-color: transparent; }
    .burger .lines .line1, .burger .lines .line2, .burger .lines .line3 {
      width: 25px;
      height: 2px;
      background-color: white;
      margin: 5px;
      transition: all 0.4s ease; }

.toggle .lines .line1 {
  height: 3px;
  background-color: #17575D;
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .lines .line2 {
  opacity: 0; }

.toggle .lines .line3 {
  height: 3px;
  background-color: #17575D;
  transform: rotate(45deg) translate(-5px, -6px); }

.mobile-nav {
  display: none; }

@media screen and (max-width: 992px) {
  .nav-links {
    width: 60%; } }

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    height: 55px;
    transition: position 0.4s; }
    nav div {
      margin: 0 10px; }
  .nav-links {
    display: none; }
  .mobile-nav {
    display: flex; }
    .mobile-nav__links {
      display: flex;
      flex-direction: column;
      /*justify-content: space-around;*/
      align-items: center;
      position: absolute;
      right: 0px;
      top: 55px;
      height: 100px;
      width: 100px;
      text-align: center;
      background-color: white;
      border-left: 3px solid #17575D;
      border-radius: 50%;
      transform: translateX(100%);
      transition: all 0.4s ease; }
      .mobile-nav__links a {
        color: #0B2C2F;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 20px; }
      .mobile-nav__links li {
        list-style: none;
        padding-bottom: 50px; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      .mobile-nav__links {
        width: 30%; }
        .mobile-nav__links li {
          padding-bottom: 40px; } }

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    cursor: pointer; }
    .burger div {
      background-color: white; } }

.nav-links-active {
  transform: translateX(0%);
  padding: 125px 100px 0 0;
  height: 550px;
  width: 550px;
  top: -50px;
  right: -225px; }
  @media (orientation: landscape) {
    .nav-links-active {
      height: 550px;
      width: 550px;
      padding: 100px 100px 0 0; } }
